  html{
    background-image: url("fondo3.jpg");
  }

  .cuerpo-principal h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  .cuerpo-principal {
    margin: auto;
    background-color: #B0E57C;
  }

  #cpestana2,#cpestana3,#cpestana4,#cpestana5,#cpestana6{
    background-color: #A3DAC9;
  }

  #disqus_thread{
    background-color: lavender;
  }

  .pie {
    background-color: #56BAEC;
    text-align: center;
  }

  h2{
    font: italic bold 30px monospace;
  }

  p.foto .logo{
    float: left;
    height: 250px;
}

p.fotomixtificacion .logo{
    float: right;
    height: 250px;
}

p.fotocabestrillo .logo{
    float: right;
    height: 200px;
}

p.fotoaliento .logo{
    float: right;
    height: 250px;
}

p.fotoduque .logo{
    float: right;
    height: 200px;
}

p.fotobestias .logo{
    float: right;
    height: 250px;
}

.global {
	height: 300px;
    width: 1200px;
    margin: 0px auto;
	border: 1px solid #ddd;
	background: #FEF1FD;
    overflow: auto;
}
#mensajes {
	height: auto;
}
.texto {
	padding:4px;
	background:#fff;
}

.menu {
  height:40px;
  font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
  width: 420px;
}

.nav li a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.pagedate{
	font-style: italic;
	display: block;
	margin-top: 1em;
}

dt{
  color: indianred;
  font-size: 25px;
}
dt:hover {
  font-weight: bold;
}
/*.nav li ul li {
  position:relative;
}*/

/*.nav li ul li ul {
  right:-140px;
  top:0px;
}*/